<div class="w-full flex justify-between">
  <h3 class="font-bold dark:text-gray-100">Top Traffics</h3>
  <ul class="flex font-medium text-xs text-gray-500 dark:text-gray-400 space-x-2">
    <li class="<%= source_tab_class(:referrer_source) %>"><%= link_to "Referral", site_path(@site, request.query_parameters.merge(source_meniu: :referrer_source)) %></li>
    <li class="<%= source_tab_class(:traffic_medium) %>"><%= link_to "Medium", site_path(@site, request.query_parameters.merge(source_meniu: :traffic_medium)) %></li>
    <li class="<%= source_tab_class(:traffic_source) %>"><%= link_to "Source", site_path(@site, request.query_parameters.merge(source_meniu: :traffic_source)) %></li>
    <li class="<%= source_tab_class(:traffic_campaign) %>"><%= link_to "Campaign", site_path(@site,  request.query_parameters.merge(source_meniu: :traffic_campaign)) %></li>
  </ul>
</div>