<div class="stats-item relative bg-white dark:bg-gray-825 shadow-xl rounded p-4" style="height: 436px;">
  <div class="fade-enter-active">
    <%= render partial: 'shared/sources/nav' %>
    <div class="flex items-center mt-3 mb-2 justify-between text-gray-500 text-xs font-bold tracking-wide"><span>Traffic Campaign</span><span>Visitors</span>
    </div>
    <div style="position: relative;">
      <% @top_traffic_campaigns.each do |source| %>
        <% @max_campaign ||= source.count %>
        <div class="flex items-center justify-between my-1 text-sm">
          <div class="w-full h-8" style="max-width: calc(100% - 4rem);">
            <div class="bg-blue-50 dark:bg-gray-500 dark:bg-opacity-15" style="width:  <%= number_to_percentage(100 * source.count / @max_campaign.to_f, precision: 2) %>; height: 30px;">

            </div>
            <span class="flex px-2 dark:text-gray-300" style="margin-top: -26px;">
              <%= link_to site_path(@site, request.query_parameters.merge(traffic_campaign: source.traffic_campaign)), class: 'block truncate hover:underline' do %>
               <%= source.traffic_campaign %>
              <% end%>
            </span>
          </div><span class="font-medium dark:text-gray-200"><%= pretty_num(source.count) %></span>
        </div>
      <% end %>

    </div>

    <div class="text-center w-full absolute bottom-0 left-0 pb-3">
      <a class="leading-snug font-bold text-sm text-gray-500 dark:text-gray-400 hover:text-red-500 dark:hover:text-red-400 transition tracking-wide" href="<%= site_traffic_campaigns_path(@site, request.query_parameters) %>"><svg class="feather mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="margin-top: -2px;"><path d="M8 3H5a2 2 0 0 0-2 2v3m18 0V5a2 2 0 0 0-2-2h-3m0 18h3a2 2 0 0 0 2-2v-3M3 16v3a2 2 0 0 0 2 2h3"></path></svg>MORE
      </a>
    </div>
  </div>
</div>