<div class="dark:bg-gray-800">
  <h1 class="text-xl font-bold dark:text-gray-100">Top Urls</h1>
  <div class="my-4 border-b border-gray-300">
    
  </div>
  <main class="modal__content">
    <table class="w-full table-striped table-fixed">
      <thead>
        <tr>
          <th class="p-2 text-xs tracking-wide font-bold text-gray-500 dark:text-gray-400" align="left">Location url</th>
          <th class="p-2 w-32 text-xs tracking-wide font-bold text-gray-500 dark:text-gray-400" align="right">Visitors</th>
          <th class="p-2 w-32 text-xs tracking-wide font-bold text-gray-500 dark:text-gray-400" align="right">Pageviews</th>
          <th class="p-2 w-32 text-xs tracking-wide font-bold text-gray-500 dark:text-gray-400" align="right">Sessions</th>
        </tr>
      </thead>
      <tbody>
        <% @top_location_urls.each do |url| %>
          <tr class="text-sm dark:text-gray-200">
            <td class="p-2"><a class="hover:underline text-blue-500" target="_blank" href="<%= url.location_url %>"><%= url.location_url %></a></td>
            <td class="p-2 w-32 font-medium" align="right"><%= pretty_num url.visitors_count %></td>
            <td class="p-2 w-32 font-medium" align="right"><%= pretty_num url.count %></td>
            <td class="p-2 w-32 font-medium" align="right"><%= pretty_num url.sessions_count %></td>
          </tr>
        <% end  %>
      </tbody>
    </table>
  </main>
</div>
