<div class="stats-item">
  <div class="bg-white dark:bg-gray-825 shadow-xl rounded p-4 relative" style="height: 436px;">
    <%= render partial: 'shared/devices/nav' %>
    <div class="fade-enter-active">
      <div class="flex items-center mt-3 mb-2 justify-between text-gray-500 dark:text-gray-400 text-xs font-bold tracking-wide"><span>OS</span><span>Visitors</span>
      </div>
      <% @top_oses.each do |type| %>
        <% @max_os ||= type.count %>
        <div class="flex items-center justify-between my-1 text-sm">
          <div class="w-full h-8" style="max-width: calc(100% - 6rem);">
            <div class="bg-green-50 dark:gray-500 dark:bg-opacity-15" style="width: <%= number_to_percentage(100 * type.count / @max_os.to_f, precision: 2) %>; height: 30px;">

            </div>
            <span class="flex px-2 dark:text-gray-300" style="margin-top: -26px;">
              <%= link_to type.os, site_path(@site, request.query_parameters.merge(device_type: type.os)), class: 'block hover:underline', title: type.os %>
            </span>
          </div><span class="font-medium dark:text-gray-200"><%= pretty_num type.count %> <span class="inline-block text-xs w-8 text-right">(<%= number_to_percentage(100 * type.count / @unique_visitors_summary.to_f, precision: 2) %>)</span></span>
        </div>
      <% end %>
    </div>

    <div class="text-center w-full absolute bottom-0 left-0 pb-3">
      <a class="leading-snug font-bold text-sm text-gray-500 dark:text-gray-400 hover:text-red-500 dark:hover:text-red-400 transition tracking-wide" href="/hackershare.dev/pages"><svg class="feather mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="margin-top: -2px;"><path d="M8 3H5a2 2 0 0 0-2 2v3m18 0V5a2 2 0 0 0-2-2h-3m0 18h3a2 2 0 0 0 2-2v-3M3 16v3a2 2 0 0 0 2 2h3"></path></svg>MORE
      </a>
    </div>
  </div>
</div>