<div class="flex flex-wrap">
  <div class="px-8 w-1/2 my-4 lg:w-auto  border-r lg:border-r-0">
    <div class="text-gray-500 dark:text-gray-400 text-xs font-bold tracking-wide uppercase">Unique visitors
    </div>
    <div class="my-1 flex justify-between items-center">
      <b class="text-2xl mr-4 dark:text-gray-100"><%= pretty_num @unique_visitors_summary %></b>
      <span class="text-xs dark:text-gray-100">
        <%= render partial: 'shared/growth_rate', locals: {growth: GrowthRate.new(@unique_visitors_summary_p, @unique_visitors_summary)} %>
      </span>
    </div>
  </div>

  <div class="px-8 w-1/2 my-4 lg:w-auto lg:border-l border-gray-300">
    <div class="text-gray-500 dark:text-gray-400 text-xs font-bold tracking-wide uppercase">Total pageviews
    </div>

    <div class="my-1 flex justify-between items-center"><b class="text-2xl mr-4 dark:text-gray-100"><%= pretty_num @total_pageviews_summary %></b>
      <span class="text-xs dark:text-gray-100">
        <%= render partial: 'shared/growth_rate', locals: {growth: GrowthRate.new(@total_pageviews_summary_p, @total_pageviews_summary)} %>
      </span>
    </div>
  </div>
  <div class="px-8 w-1/2 my-4 lg:w-auto lg:border-l border-gray-300 border-r lg:border-r-0">  <div class="text-gray-500 dark:text-gray-400 text-xs font-bold tracking-wide uppercase">New visitors
  </div>
  <div class="my-1 flex justify-between items-center">
    <b class="text-2xl mr-4 dark:text-gray-100">
      <%= pretty_num(@new_visitors_count) %></b>
      <span class="text-xs dark:text-gray-100">
        <%= render partial: 'shared/growth_rate', locals: {growth: GrowthRate.new(@new_visitors_count_p, @new_visitors_count)} %>
      </span>
  </div>
</div>
<div class="px-8 w-1/2 my-4 lg:w-auto lg:border-l border-gray-300">
  <div class="text-gray-500 dark:text-gray-400 text-xs font-bold tracking-wide uppercase">Avg Engagement Time
  </div>
  <div class="my-1 flex justify-between items-center">
    <b class="text-2xl mr-4 dark:text-gray-100"><%= pretty_time(@avg_engagement_time.to_i / 1000) %></b>
    <span class="text-xs dark:text-gray-100">
      <%= render partial: 'shared/growth_rate', locals: {growth: GrowthRate.new(@avg_engagement_time_p, @avg_engagement_time)} %>
    </div>
  </div>
</div>