<div class="w-full max-w-3xl mt-4 mx-auto flex">
<%= form_with model: @site, local: true, class: "max-w-lg w-full mx-auto bg-white dark:bg-gray-800 shadow-lg rounded px-8 pt-6 pb-8 mb-4 mt-8" do |f| %>
    <h2 class="text-xl font-black dark:text-gray-100">Your website details</h2>
    <div class="my-6">
      <%= f.label :domain, class: 'block text-sm font-medium text-gray-700 dark:text-gray-300' %>
      <p class="text-gray-500 dark:text-gray-400 text-xs mt-1">Just the naked domain or subdomain without 'www'</p>
      <div class="mt-2 flex rounded-md shadow-sm">
        <span class="inline-flex items-center px-3 rounded-l-md border border-r-0 border-gray-300 dark:border-gray-500 bg-gray-50 dark:bg-gray-850 text-gray-500 dark:text-gray-400 sm:text-sm">https://
        </span>
        <%= f.text_field :domain, class: "focus:ring-indigo-500 focus:border-indigo-500 dark:bg-gray-800 flex-1 block w-full px-3 py-2 rounded-none rounded-r-md sm:text-sm border-gray-300 dark:border-gray-500 dark:bg-gray-900 dark:text-gray-300" %>
      </div>

    </div>

    <div class="my-6">
      <%= f.label :tracking_id, value: "Tracking ID", class: 'block text-sm font-medium text-gray-700 dark:text-gray-300' %>
      <p class="text-gray-500 dark:text-gray-400 text-xs mt-1">Google analytics tracking id</p>
      <div class="mt-2 flex rounded-md shadow-sm">
        <span class="inline-flex items-center px-3 rounded-l-md border border-r-0 border-gray-300 dark:border-gray-500 bg-gray-50 dark:bg-gray-850 text-gray-500 dark:text-gray-400 sm:text-sm">
        </span>
        <%= f.text_field :tracking_id, class: "focus:ring-indigo-500 focus:border-indigo-500 dark:bg-gray-800 flex-1 block w-full px-3 py-2 rounded-none rounded-r-md sm:text-sm border-gray-300 dark:border-gray-500 dark:bg-gray-900 dark:text-gray-300" %>
      </div>

    </div>
    <div class="my-6">
      <%= f.label :timezone, class: "block text-sm font-medium text-gray-700 dark:text-gray-300" %>
      <p class="text-gray-500 dark:text-gray-400 text-xs mt-1">To make sure we agree on what 'today' means</p>

      <div class="inline-block relative w-full">

        <%= f.time_zone_select(:timezone, ActiveSupport::TimeZone.all, {default: "UTC"}, class: "mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 dark:border-gray-500 dark:bg-gray-900 dark:text-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md") %>
      </div>
    </div>
    <script>
      var offset = (new Date()).getTimezoneOffset()
      var option = document.querySelector('#tz-select option[offset="' + offset + '"]')
      if (option) { option.selected = "selected"}
    </script>
    <%= f.button 'Add snippet', class: "button mt-4 w-full", type: 'submit' %>
<% end %>

    <div class="pt-12 pl-8 hidden md:block">
<div class="pt-6 px-4 sm:px-6 lg:px-8">
  <nav class="flex justify-center">
    <ol class="space-y-6">


          <!-- Complete Step -->
          <li class="flex items-start">
            <span class="flex-shrink-0 relative h-5 w-5 flex items-center justify-center">
              <svg class="h-full w-full text-indigo-600 dark:text-indigo-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
              </svg>
            </span>
            <span class="ml-3 text-sm font-medium text-gray-500 dark:text-gray-300">Register</span>
          </li>





          <!-- Complete Step -->
          <li class="flex items-start">
            <span class="flex-shrink-0 relative h-5 w-5 flex items-center justify-center">
              <svg class="h-full w-full text-indigo-600 dark:text-indigo-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
              </svg>
            </span>
            <span class="ml-3 text-sm font-medium text-gray-500 dark:text-gray-300">Activate account</span>
          </li>






          <!-- Current Step -->
          <li class="flex items-start">
            <span class="flex-shrink-0 h-5 w-5 relative flex items-center justify-center">
              <span class="absolute h-4 w-4 rounded-full bg-indigo-200 dark:bg-indigo-100"></span>
              <span class="relative block w-2 h-2 bg-indigo-600 dark:bg-indigo-500 rounded-full"></span>
            </span>
            <span class="ml-3 text-sm font-medium text-indigo-600 dark:text-indigo-500">Add site info</span>
          </li>






          <!-- Upcoming Step -->
          <li class="flex items-start">
            <div class="flex-shrink-0 h-5 w-5 relative flex items-center justify-center">
              <div class="h-2 w-2 bg-gray-300 dark:bg-gray-700 rounded-full"></div>
            </div>
            <p class="ml-3 text-sm font-medium text-gray-500 dark:text-gray-300">Install snippet</p>
          </li>


    </ol>
  </nav>
</div>

    </div>

</div>