 <%= link_to 'Debug View', debug_site_path(@site), class: 'button' %>

 <div class="pt-6"></div>
 <div>
   <div class="mb-12">
     <div id="stats-container-top"></div>

     <div class="sticky top-0 bg-gray-50 dark:bg-gray-850 sm:py-3 py-1 z-9 ">
      <div class="w-full sm:flex items-center">
        <div class="w-full flex items-center mb-2 sm:mb-0">
          <div class="relative inline-block text-left z-10 mr-4">
            <button class="inline-flex items-center text-lg w-full rounded-md py-2 leading-5 font-bold text-gray-700 dark:text-gray-300 focus:outline-none transition ease-in-out duration-150 hover:text-gray-500 dark:hover:text-gray-200 focus:border-blue-300 focus:ring ">
              <img src="https://icons.duckduckgo.com/ip3/<%= @site.domain %>.ico" referrerpolicy="no-referrer" class="inline w-4 mr-2 align-middle"><%= @site.domain %><svg class="-mr-1 ml-2 h-5 w-5" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </button>
          </div>
          <a class="block text-sm font-bold text-gray-500 dark:text-gray-300 mr-auto ml-2" href="<%= site_path(@site, period: :realtime) %>"><svg class="w-2 mr-2 fill-current text-green-500 inline" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><circle cx="8" cy="8" r="8"></circle></svg>0 current visitors</a>
        </div>
        <div class="flex justify-end ml-auto pl-2">
          <div class="relative" style="height: 35.5px; width: 190px;">
            <div class="flex items-center justify-between rounded bg-white dark:bg-gray-800 shadow px-4 pr-3 py-2 leading-tight cursor-pointer text-sm font-medium text-gray-800 dark:text-gray-200 h-full" tabindex="0" role="button" aria-haspopup="true" aria-expanded="false" aria-controls="datemenu"><span class="mr-2">Last 30 days</span>
              <svg class="text-indigo-500 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="w-full relative bg-white dark:bg-gray-825 shadow-xl rounded mt-6 main-graph">
      <div class="flex flex-wrap">
        <div class="px-8 w-1/2 my-4 lg:w-auto  border-r lg:border-r-0">
          <div class="text-gray-500 dark:text-gray-400 text-xs font-bold tracking-wide uppercase">Unique visitors
          </div>
          <div class="my-1 flex justify-between items-center"><b class="text-2xl mr-4 dark:text-gray-100">2.5k</b><span class="text-xs dark:text-gray-100"><span class="text-red-400 font-bold">↓</span> 14%</span>
          </div>
        </div>

        <div class="px-8 w-1/2 my-4 lg:w-auto lg:border-l border-gray-300">
          <div class="text-gray-500 dark:text-gray-400 text-xs font-bold tracking-wide uppercase">Total pageviews
          </div>

          <div class="my-1 flex justify-between items-center"><b class="text-2xl mr-4 dark:text-gray-100">12.6k</b><span class="text-xs dark:text-gray-100"><span class="text-red-400 font-bold">↓</span> 16%</span>
          </div>
        </div>
        <div class="px-8 w-1/2 my-4 lg:w-auto lg:border-l border-gray-300 border-r lg:border-r-0">  <div class="text-gray-500 dark:text-gray-400 text-xs font-bold tracking-wide uppercase">Bounce rate
        </div>
        <div class="my-1 flex justify-between items-center"><b class="text-2xl mr-4 dark:text-gray-100">51%</b><span class="text-xs text-gray-700 dark:text-gray-300">〰 N/A</span>
        </div>
      </div>
      <div class="px-8 w-1/2 my-4 lg:w-auto lg:border-l border-gray-300">
        <div class="text-gray-500 dark:text-gray-400 text-xs font-bold tracking-wide uppercase">Visit duration
        </div>
        <div class="my-1 flex justify-between items-center">
          <b class="text-2xl mr-4 dark:text-gray-100">4m 24s</b><span class="text-xs dark:text-gray-100">
            <span class="text-green-500 font-bold">↑</span> 2%</span>
          </div>
        </div>
      </div>

      <div class="px-2 relative">
        <%= line_chart Hyper::Event.group_by_day(:started_at).count %>
      </div>
    </div>

    <div class="w-full block md:flex items-start justify-between">
      <div class="stats-item relative bg-white dark:bg-gray-825 shadow-xl rounded p-4" style="height: 436px;">
        <div class="fade-enter-active">
          <div class="w-full flex justify-between">
            <h3 class="font-bold dark:text-gray-100">Top sources</h3>
            <ul class="flex font-medium text-xs text-gray-500 dark:text-gray-400 space-x-2">
              <li class="inline-block h-5 text-indigo-700 dark:text-indigo-500 font-bold border-b-2 border-indigo-700 dark:border-indigo-500">All</li>
              <li class="hover:text-indigo-600 cursor-pointer">Medium</li>
              <li class="hover:text-indigo-600 cursor-pointer">Source</li>
              <li class="hover:text-indigo-600 cursor-pointer">Campaign</li>
            </ul>
          </div>
          <div class="flex items-center mt-3 mb-2 justify-between text-gray-500 text-xs font-bold tracking-wide"><span>Source</span><span>Visitors</span>
          </div>
          <div style="position: relative;">
            <div class="flex items-center justify-between my-1 text-sm">
              <div class="w-full h-8" style="max-width: calc(100% - 4rem);">
                <div class="bg-blue-50 dark:bg-gray-500 dark:bg-opacity-15" style="width: 100%; height: 30px;">
                  
                </div>
                <span class="flex px-2 dark:text-gray-300" style="margin-top: -26px;">
                  <a class="block truncate hover:underline" href="/?source=Google">
                    <img src="https://icons.duckduckgo.com/ip3/google.com.ico" referrerpolicy="no-referrer" class="inline h-4 w-4 mr-2 align-middle -mt-px">Google
                  </a>
                </span>
              </div><span class="font-medium dark:text-gray-200">777</span>
            </div>
              
            <div class="flex items-center justify-between my-1 text-sm">
              <div class="w-full h-8" style="max-width: calc(100% - 4rem);">
                <div class="bg-blue-50 dark:bg-gray-500 dark:bg-opacity-15" style="width: 2.3166%; height: 30px;">
                  
                </div><span class="flex px-2 dark:text-gray-300" style="margin-top: -26px;"><a class="block truncate hover:underline" href="/?source=oschina.net"><img src="https://icons.duckduckgo.com/ip3/oschina.net.ico" referrerpolicy="no-referrer" class="inline h-4 w-4 mr-2 align-middle -mt-px">oschina.net</a></span>
              </div>
              <span class="font-medium dark:text-gray-200">18</span>
            </div>

          </div>

          <div class="text-center w-full absolute bottom-0 left-0 pb-3">
            <a class="leading-snug font-bold text-sm text-gray-500 dark:text-gray-400 hover:text-red-500 dark:hover:text-red-400 transition tracking-wide" href="/hackershare.dev/sources"><svg class="feather mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="margin-top: -2px;"><path d="M8 3H5a2 2 0 0 0-2 2v3m18 0V5a2 2 0 0 0-2-2h-3m0 18h3a2 2 0 0 0 2-2v-3M3 16v3a2 2 0 0 0 2 2h3"></path></svg>MORE
            </a>
          </div>
        </div>
      </div>

      <div class="stats-item relative bg-white dark:bg-gray-825 shadow-xl rounded p-4" style="height: 436px;">
        <div class="fade-enter-active">
          <h3 class="font-bold dark:text-gray-100">Top Pages</h3>
          <div class="flex items-center mt-3 mb-2 justify-between text-gray-500 dark:text-gray-400 text-xs font-bold tracking-wide"><span>Page url</span><span>Visitors</span>
          </div>
          <div style="position: relative;">
            <div class="flex items-center justify-between my-1 text-sm">
              <div class="w-full h-8 truncate" style="max-width: calc(100% - 4rem);">
                <div class="bg-orange-50 dark:bg-gray-500 dark:bg-opacity-15" style="width: 100%; height: 30px;">
                  
                </div><span class="flex px-2 group dark:text-gray-300" style="margin-top: -26px;"><a class="block hover:underline" href="/hackershare.dev?page=%2Fen">/en</a><a target="_blank" href="http://hackershare.dev/en" class="hidden group-hover:block"><svg class="inline h-4 w-4 ml-1 -mt-1 text-gray-600 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20"><path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z"></path><path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z"></path></svg></a></span>
              </div><span class="font-medium dark:text-gray-200">745</span>
            </div>

            <div class="flex items-center justify-between my-1 text-sm">
              <div class="w-full h-8 truncate" style="max-width: calc(100% - 4rem);">
                <div class="bg-orange-50 dark:bg-gray-500 dark:bg-opacity-15" style="width: 96.3758%; height: 30px;">
                  
                </div><span class="flex px-2 group dark:text-gray-300" style="margin-top: -26px;"><a class="block hover:underline" href="/hackershare.dev?page=%2F">/</a><a target="_blank" href="http://hackershare.dev/" class="hidden group-hover:block"><svg class="inline h-4 w-4 ml-1 -mt-1 text-gray-600 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20"><path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z"></path><path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z"></path></svg></a></span>
              </div><span class="font-medium dark:text-gray-200">718</span>
            </div>
          </div>

            <div class="text-center w-full absolute bottom-0 left-0 pb-3">
              <a class="leading-snug font-bold text-sm text-gray-500 dark:text-gray-400 hover:text-red-500 dark:hover:text-red-400 transition tracking-wide" href="/hackershare.dev/pages"><svg class="feather mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="margin-top: -2px;"><path d="M8 3H5a2 2 0 0 0-2 2v3m18 0V5a2 2 0 0 0-2-2h-3m0 18h3a2 2 0 0 0 2-2v-3M3 16v3a2 2 0 0 0 2 2h3"></path></svg>MORE
              </a>
            </div>
          </div>
        </div>
      </div>

  </div>
</div>